@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Rosario:wght@700&display=swap');
// font-family: 'DM Sans', sans-serif;
// font-family: 'Rosario', sans-serif;

:root {
	/* --------- size main ---------------*/
	--container-width: 1440px;
	--container-padding: 100px;

	/* --------- fonts ---------------*/
	--font-main: 'DM Sans', sans-serif;
	--font-accent: 'Rosario', sans-serif;

	/* --------- colors ---------------*/
	--color-primary: #222222;
	--color-secondary: #555555;
	--color-black: #000000;
	--color-white: #fff;
	--bg-mint-cream: #F3FBF8;
	--bg-green-lt: #09A66D;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;

	/* --------- media-query ---------------*/
  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}

.inner-title {
  color: var(--color-primary);
  font-family: var(--font-accent);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 128.571% */
}

.inner-text {
	// font-style: normal;
	line-height: 30px;
}

