.hero {
  background-color: var(--bg-mint-cream);
  margin-bottom: 140px;
}

.hero-inner-wrapper {
  padding-top: 92px;
  padding-bottom: 33px;
  background-image: url(../img/fresh-melientha-suavis-pierre-leaves-white-surface.png);
  background-repeat: no-repeat;
}

.hero-title {
  text-align: center;
}

.section-text--hero {
  width: 640px;
  margin: 0 auto 60px;
  text-align: center;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}

.hero-icon img{
  border-radius: 50%;
}

.list-item__hero {
  width: 250px;
  height: 116px;
}

.hero-img {
  position: relative;
  width: 863px;
}

.hero-link {
  position: absolute;
  top: -18px;
  right: 20%;
  display: flex;
  align-items: center;
  width: 176px;
  height: 64px;
  font-weight: 500;
}

.hero-link::after {
  position: absolute;
  content: '';
  background: var(--bg-green-lt) url('../img/icons/arrow-right.svg') no-repeat center;
  width: 64px;
  height: 64px;
  top: 0px;
  margin-left: 120px;
  border-radius: 50%;
}

.describe-count {
  font-size: 48px;
  line-height: 48px;
}
